.wrapper-stock{
  width: 100vw;
  position: relative;
  text-align: center;
}

.wrapper-stock button{
  position: fixed;
  right: 15px;
  top:9vh;
  
}
.wrapper-stock-item{
  width: 100vw;
  padding:10px 0px;

}
.wrapper-stock-item:nth-child(2n){
  background-color: #f2f2f2;
}

.wrapper-stock select,.wrapper-stock input{
  width: 200px;
  display:block;
  margin:10px auto;
  font-size: 1em;
}
